sacremoses==0.0.43
pandas==1.1.3
regex==2020.4.4
h5py==2.10.0
filelock==3.0.10
scipy==1.4.1
sentencepiece==0.1.94
matplotlib==3.2.1
torch==1.6.0
onnx==1.7.0
tensorflow==2.3.1
tqdm==4.45.0
numpy==1.18.1
six==1.14.0
packaging==20.1
wandb==0.10.8
psutil==5.7.0
requests==2.23.0
pytorch_lightning==1.0.4
ImageHash==4.1.0
tokenizers==0.9.2
transformers==3.5.1 # Required due to some imports in the files under src/vilio/transformers
torchvision==0.7.0
jieba==0.42.1
botocore==1.19.8
spacy==2.3.2
boto3==1.16.8
comet_ml==3.2.5
dataclasses==0.6
fairseq==0.9.0
fastapi==0.61.2
ftfy==5.8
fugashi==1.0.5
ipadic==1.0.0
keras2onnx==1.7.0
lmdb==1.0.0
onnxruntime==1.5.2
Pillow==8.0.1
py3nvml==0.2.6
pydantic==1.7.2
pythainlp==2.2.4
PyYAML==5.3.1
scikit_learn==0.23.2
starlette==0.14.1
tensorboardX==2.1
timeout_decorator==0.4.1
torchcontrib==0.0.2
uvicorn==0.12.2
wget==3.2
