# Copy from https://github.com/huggingface/pytorch-transformers

# PyTorch
torch>=1.0.0
# SWA:
torchcontrib
# Progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# Used for csv handling
pandas
# Scoring
sklearn
# Data-handling
os
collections
random
numpy
imagehash
PIL